.ipynb_checkpoints
.DS_Store
.idea
readonly
__pycache__
*.pyc
Material/*

# week 2
tensorboard_logs

# week3
102flowers.tgz
imagelabels.mat
week3/*.hdf5
week3/*.h5

# week4
lfw-deepfunneled.tgz
lfw.tgz
lfw_attributes.txt
week4/*.hdf5
week4/*.h5

# week6
captions_train-val2014.zip
train2014_sample.zip
train_img_embeds.pickle
train_img_fns.pickle
val2014_sample.zip
val_img_embeds.pickle
val_img_fns.pickle